<h1>Search movies here</h1>
<div>
    <h3>Enter movie name</h3>
    <form action="/results" method="get">
    <input type="text" name='search' placeholder="movie-name">
    <button>Submit</button>
    </form>
</div>